@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Black.woff2);
  font-weight: 900;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-BlackItalic.woff2);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-ExtraBold.woff2);
  font-weight: 800;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-ExtraBoldItalic.woff2);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-ExtraLight.woff2);
  font-weight: 200;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-ExtraLightItalic.woff2);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Italic.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-SemiBoldItalic.woff2);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Thin.woff2);
  font-weight: 100;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-ThinItalic.woff2);
  font-weight: 100;
  font-style: italic;
}
