@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-SemiBold.woff2);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-ExtraBold.woff2);
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src: url(Barlow/Barlow-Black.woff2);
  font-weight: 900;
  font-display: swap;
}
